$bg-gradient: radial-gradient(circle at top, #1f3756 0%, #141539 100%);
$header-outline: #606e85;
$dark-text: #2a46c0;
$score-text: #565468;
$white: #ffffff;

$paper-gradient: linear-gradient(#4865f4, #5671f5);
$scissors-gradient: linear-gradient(#ec9e0e, #eca922);
$rock-gradient: linear-gradient(#dc2e4e, #dd405d);

$shadow-light: rgba(0, 0, 0, 0.2);