@use '../styles/variables' as *;

.header-container {
  border: 3px solid $header-outline;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 24px;
  width: 100%;
  max-width: 700px;
  margin: 30px auto;

  .title h1 {
    color: $white;
    line-height: 0.8;
    font-size: 2.5rem;
    margin: 0;
  }

  .score-card {
    background: $white;
    border-radius: 8px;
    padding: 15px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .score-label {
      color: $dark-text;
      font-weight: 600;
      letter-spacing: 1.5px;
      font-size: 0.9rem;
    }

    .score-number {
      color: $score-text;
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 1;
    }
  }
}