@use './styles/variables' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.app-wrapper {
  min-height: 100vh;
  background: $bg-gradient;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-history {
  margin-top: auto;
  color: white;
  opacity: 0.6;
  padding-bottom: 20px;
}